/* Global Reset Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Body Wrapper */

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-width: 340px;

/* Hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* Cool Background Image */

#background-image {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1516721951823-4f214c97eb4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    opacity: .15;
}

/* Header & Main Nav */

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 340px;
    color: #d3d3d3;
    height: 33vh;
    min-height: 340px;
    z-index: 2;
}

header a {
    color: #Fb4f14;
    opacity: .6;
    line-height: 1.5em;
    text-decoration: none;
}

header a:hover {
    opacity: 1;
}

header h1 {
    margin-bottom: 20px;
    text-transform: lowercase;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 200%;
    text-transform: lowercase;
}

nav ul {
    list-style-type: none;
    margin-left: 10px;
}


/* Main Content Area */

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #d3d3d3;
    min-height: 100vh;
    width: 100%;
    z-index: 2;
}

main h2 {  
    margin-bottom: 20px;
    margin-right: 50px;
    min-width: 150px;
    text-transform: lowercase;
}

main h3 {
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: lowercase;
}

article {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
    margin-right: 20px;
}

section p {
    margin-bottom: 10px;
}

section a {
    color: #Fb4f14;
    opacity: 0.7;
}

section a:hover {
    opacity: 1;
}

section ul {
    margin-left: 10px;
    list-style-type: circle;
}

/* Image Classes */


.circle-img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: solid #Fb4f14 4px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.hero-img {
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10px;
    border: solid #Fb4f14 2px;
    margin-bottom: 10px;
}

/* ::before selectors to add stylistic text to headers without impacting accessibility/SEO */

#about::before {
    content: 'this is';
    display: block;
}

#contact::before {
    content: 'you can';
    display: block;
}

#recent::before {
    content: 'my most';
    display: block;
}

#work::before {
    content: 'this is';
    display: block;
}

#portfolio::before {
    content: 'this is ';
}


/* Responsive rules - mobile first design means these media selectors activate when screen gets larger. */

@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }
    
    header {
        top: 0;
        bottom: 0;
        position: sticky;
        position: -webkit-sticky;
    }   

    article {
        flex-direction: row;
    }

}